/* Set CSS Scroll Snapping */
/* html,
body {
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
   height: 100vh;
} */
/* Each page is divided into a section.
    Each section is 100 view heights
*/
