* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.black {
  color: black !important;
}
.black:hover {
  color: whitesmoke !important;
}

.white {
  color: white;
}
.red,
.red .modal-open-button {
  transition: all 0.2s linear;
  color: #f9082a;
  stroke: #f9082a;
  fill: #f9082a;
}
.blue,
.blue .modal-open-button {
  transition: all 0.2s linear;
  color: #0e7bad;
  stroke: #0e7bad;
  fill: #0e7bad;
}
.yellow,
.yellow .modal-open-button {
  transition: all 0.2s linear;
  color: #07fa3a;
  stroke: #07fa3a;
  fill: #07fa3a;
}

html,
body {
  font-family: sans-serif;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  position: relative;
  scroll-behavior: smooth;
}

section {
  padding: 10%;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("../images/bg.jpg");
  z-index: 2;
}

/* Menu Style */
#menuToggle {
  display: block;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 60px;
  height: 50px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle:hover span {
  background: whitesmoke;
}

.red .modal-close-button:before,
.red .modal-close-button:after,
.red #menuToggle span,
.red #menu {
  background: #f9082a;
}
.blue .modal-close-button:before,
.blue .modal-close-button:after,
.blue #menuToggle span,
.blue #menu {
  background: #0e7bad;
}
.yellow .modal-close-button:before,
.yellow .modal-close-button:after,
.yellow #menuToggle span,
.yellow #menu {
  background: #07fa3a;
}
#menuToggle:hover span {
  background: whitesmoke;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

#menuToggle input:checked:hover ~ span {
  background: white;
}

/*
 * hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this fixed positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  padding: 90px;
  list-style-type: none;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* to stop flickering of text in safari */
  -webkit-font-smoothing: antialiased;
  transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
}

/*
 * slide it in from the left when checked
 */
#menuToggle input:checked ~ ul {
  right: 0;
}
/* Modal Styles */
html.modal-active,
body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 100;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  /* background: rgba(0, 0, 0, 0.3); */
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-content {
  padding: 10%;
  padding-top: 50px;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100vw;
  height: 100vh;
}
/* MODALSTYLE */
#modal-container .modal-background .modal {
  background: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 100%;
  z-index: 1000;
}
#modal-container .modal-background .modal p:last-of-type {
  margin-bottom: 0;
}
#modal-container .modal-background .modal p,
#modal-container .modal-background .modal p.modal-text {
  color: white;
  line-height: 22px;
  margin-bottom: 50px;
}
#modal-container .modal-svg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  z-index: 6;
}
#modal-container .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
  z-index: 6;
}

.modal-open-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 2%;
  color: whitesmoke;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  text-transform: uppercase;
  z-index: 100;
  font-weight: bold;
  font-size: 1.2em;
}
.modal-open-button:hover,
#menuToggle a:hover {
  cursor: pointer;
  color: white;
}

.modal-active .modal-open-button {
  color: black;
}
.modal-close-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5%;
  right: 5%;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
  background: none;
  border: none;
}
.modal-close-button:before,
.modal-close-button:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -25px;
  display: block;
  height: 10px;
  width: 50px;
  transition: all 0.25s ease-out;
}
.modal-close-button:after {
  transform: rotate(-135deg);
}
.modal-close-button:hover:before,
.modal-close-button:hover:after {
  transform: rotate(0deg);
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* ----- logo ----- */
.animated-logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 100;
  stroke-width: 2;
  animation: LogoAnimate 2s ease-in;
}
.static-logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  stroke-width: 2;
}
@keyframes LogoAnimate {
  0% {
    stroke-dasharray: 0;
    fill-opacity: 100%;
  }
  2.5% {
    fill-opacity: 95%;
  }
  5% {
    fill-opacity: 80%;
  }
  7.5% {
    fill-opacity: 50%;
    stroke-dasharray: 50% 0;
  }
  50% {
    fill-opacity: 0%;
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -20%;
  }
  96.5% {
    fill-opacity: 50%;
    stroke-dasharray: 50% 0;
  }
  95% {
    fill-opacity: 80%;
  }
  97.5% {
    fill-opacity: 95%;
  }
  100% {
    stroke-dasharray: 0;
    fill-opacity: 100%;
  }
}

/* Landing styles */
#landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

#landing::after {
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.2s linear;
}

.red #landing::after {
  background-image: url("../images/banner1.jpg"), url("../images/bg.jpg");
  background-position: top, center;
}
.yellow #landing::after {
  background-image: url("../images/banner2.jpg"), url("../images/bg.jpg");
  background-position: 50% 10%, center;
}
.blue #landing::after {
  background-image: url("../images/banner3.jpg"), url("../images/bg.jpg");
  background-position: top, center;
}

#landing-header {
  width: fit-content;
  /* max-width: 50%; */
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

/* start project modal stylings */
.form-checkboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.form-checkboxes input[type="checkbox"] {
  display: none;
}

.form-checkboxes input[type="checkbox"] + label {
  border: 0.5px solid white;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-basis: 25%;
  flex-grow: 1;
  min-width: 150px;
  transition: all 0.3s linear;
}

.form-checkboxes input[type="checkbox"]:checked + label {
  background: #f9082a;
  color: whitesmoke;
}

.form-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.form-textarea,
.form-input {
  padding: 20px;
  border: 0.5px solid white;
  background: none;
  flex-grow: 1;
  width: 100%;
  min-width: fit-content;
}

.form-textarea {
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-input {
  flex-basis: 49%;
}

.form-textarea {
  width: 100%;
  resize: vertical;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 80px;
  border: 0;
  background: url("../images/rocket.png");
  background-size: contain;
  background-position: 0 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 80px;
  border: 0;
  background: url("../images/rocket.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin-top: 50px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.modal-header {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h2 {
  font-size: 3em;
}

.modal-content h4 {
  font-size: 2em;
  margin-bottom: 50px;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.steps span {
  flex-basis: 10%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .steps span:nth-of-type(even) {
    display: none;
  }
}

#modal-container .modal-background .modal #budgetDisplay {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2em;
}

.project-submit-button {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 15%;
  border: 0.5px solid white;
  color: white;
  background: none;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
}

.form-submit-image {
  position: absolute;
  height: 100px;
  left: -90px;
  top: 0;
  transform: rotateZ(-90deg);
  transition: all 0.3s linear;
}

.project-submit-button:hover {
  background: #f9082a;
  color: whitesmoke;
  border: 0.5px solid #f9082a;
}

.project-submit-button:hover .form-submit-image {
  top: -10px;
}

/* We are section */
#we-are {
  display: flex;
}
