* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.black {
  color: black !important;
}
.black:hover {
  color: whitesmoke !important;
}

.white {
  color: white;
}
.red,
.red .modal-open-button {
  transition: all 0.2s linear;
  color: #e51c20;
  stroke: #e51c20;
  fill: #e51c20;
}
.blue,
.blue .modal-open-button {
  transition: all 0.2s linear;
  color: #0e7bad;
  stroke: #0e7bad;
  fill: #0e7bad;
}
.yellow,
.yellow .modal-open-button {
  transition: all 0.2s linear;
  color: #07fa3a;
  stroke: #07fa3a;
  fill: #07fa3a;
}

html,
body {
  font-family: sans-serif;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  position: relative;
  scroll-behavior: smooth;
}

section {
  padding: 10%;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image: url("../images/bg.jpg");
  z-index: 2;
}

.red .modal-close-button:before,
.red .modal-close-button:after {
  background: #e51c20;
}
.blue .modal-close-button:before,
.blue .modal-close-button:after {
  background: #0e7bad;
}
.yellow .modal-close-button:before,
.yellow .modal-close-button:after {
  background: #07fa3a;
}
/* Modal Styles */
html.modal-active,
body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 100;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  /* background: rgba(0, 0, 0, 0.3); */
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-content {
  padding: 10%;
  padding-top: 50px;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100vw;
  height: 100vh;
}
/* MODALSTYLE */
#modal-container .modal-background .modal {
  background: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 100%;
  z-index: 1000;
}
#modal-container .modal-background .modal p:last-of-type {
  margin-bottom: 0;
}
#modal-container .modal-background .modal p,
#modal-container .modal-background .modal p.modal-text {
  color: white;
  line-height: 22px;
  margin-bottom: 50px;
}
#modal-container .modal-svg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  z-index: 6;
}
#modal-container .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
  z-index: 6;
}

.modal-open-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 2%;
  color: whitesmoke;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  text-transform: uppercase;
  z-index: 100;
  font-weight: bold;
  font-size: 1.2em;
}
.modal-open-button:hover,
#menuToggle a:hover {
  cursor: pointer;
  color: white;
}

.modal-active .modal-open-button {
  color: black;
}
.modal-close-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5%;
  right: 5%;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
  background: none;
  border: none;
}
.modal-close-button:before,
.modal-close-button:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -25px;
  display: block;
  height: 10px;
  width: 50px;
  transition: all 0.25s ease-out;
}
.modal-close-button:after {
  transform: rotate(-135deg);
}
.modal-close-button:hover:before,
.modal-close-button:hover:after {
  transform: rotate(0deg);
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* ----- logo ----- */
.animated-logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 100;
  stroke-width: 2;
  animation: LogoAnimate 2s ease-in;
}
.static-logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  stroke-width: 2;
}
@keyframes LogoAnimate {
  0% {
    stroke-dasharray: 0;
    fill-opacity: 100%;
  }
  2.5% {
    fill-opacity: 95%;
  }
  5% {
    fill-opacity: 80%;
  }
  7.5% {
    fill-opacity: 50%;
    stroke-dasharray: 50% 0;
  }
  50% {
    fill-opacity: 0%;
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -20%;
  }
  96.5% {
    fill-opacity: 50%;
    stroke-dasharray: 50% 0;
  }
  95% {
    fill-opacity: 80%;
  }
  97.5% {
    fill-opacity: 95%;
  }
  100% {
    stroke-dasharray: 0;
    fill-opacity: 100%;
  }
}

/* Landing styles */
#landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

#landing::after {
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.2s linear;
}

.red #landing::after {
  background-image: url("../images/banner1.jpg"), url("../images/bg.jpg");
  background-position: top, center;
}
.yellow #landing::after {
  background-image: url("../images/banner2.jpg"), url("../images/bg.jpg");
  background-position: 50% 10%, center;
}
.blue #landing::after {
  background-image: url("../images/banner3.jpg"), url("../images/bg.jpg");
  background-position: top, center;
}

#landing-header {
  width: fit-content;
  /* max-width: 50%; */
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

/* start project modal stylings */
.form-checkboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.form-checkboxes input[type="checkbox"] {
  display: none;
}

.form-checkboxes input[type="checkbox"] + label {
  border: 0.5px solid white;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-basis: 25%;
  flex-grow: 1;
  min-width: 150px;
  transition: all 0.3s linear;
}

.red .form-checkboxes input[type="checkbox"]:checked + label {
  background: #e51c20;
  color: whitesmoke;
}
.blue .form-checkboxes input[type="checkbox"]:checked + label {
  background: #0e7bad;
  color: whitesmoke;
}
.yellow .form-checkboxes input[type="checkbox"]:checked + label {
  background: #07fa3a;
  color: black;
}

.form-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.form-textarea,
.form-input {
  padding: 20px;
  border: 0.5px solid white;
  background: none;
  flex-grow: 1;
  width: 100%;
  min-width: fit-content;
}

.form-textarea {
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-input {
  flex-basis: 49%;
}

.form-textarea {
  width: 100%;
  resize: vertical;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 80px;
  border: 0;
  background: url("../images/rocket.png");
  background-size: contain;
  background-position: 0 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 80px;
  border: 0;
  background: url("../images/rocket.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin-top: 50px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.modal-header {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h2 {
  font-size: 2.5em;
}

.modal-content h4 {
  font-size: 2em;
  margin-bottom: 50px;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.steps span {
  flex-basis: 10%;
  font-weight: bold;
}

#modal-container .modal-background .modal #budgetDisplay {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2em;
}

.project-submit-button {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 10%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 30px;
}

.red .project-submit-button {
  border: 2px solid #e51c20;
}
.blue .project-submit-button {
  border: 2px solid #0e7bad;
}
.yellow .project-submit-button {
  border: 2px solid #07fa3a;
}

.form-submit-image {
  position: absolute;
  height: 100px;
  left: -90px;
  top: 0;
  transform: rotateZ(-90deg);
  transition: all 0.3s linear;
}

.red .project-submit-button:hover {
  background: #e51c20;
  color: whitesmoke;
  /* border: 0.5px solid #e51c20; */
}
.blue .project-submit-button:hover {
  background: #0e7bad;
  color: whitesmoke;
  /* border: 0.5px solid #0e7bad; */
}
.yellow .project-submit-button:hover {
  background: #07fa3a;
  color: whitesmoke;
  /* border: 0.5px solid #07fa3a; */
}

.project-submit-button:hover .form-submit-image {
  top: -10px;
}

/* We are section */
#we-are {
  display: flex;
  text-align: left;
}
#we-are h2 {
  flex-basis: 20%;
  text-align: right;
}
#we-are div {
  flex-basis: 40%;
}
#we-are h4 {
  font-weight: bold;
}

/* #we-are div:first-of-type {
} */

/* Services Section Styles */
#Layer_1 {
  position: absolute;
  height: 35vh;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.st0,
.st1,
.st2,
.st3 {
  fill: none;
  /* stroke: #00c196; */
  stroke-width: 42;
  stroke-miterlimit: 10;
}

.st0 {
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

.st1 {
  stroke-dasharray: 50, 90, 200, 30, 40, 0;
}

.st2 {
  stroke-linecap: square;
  stroke-dasharray: 120, 20, 110, 20, 140;
}

.st3 {
  stroke-width: 16;
  stroke-linecap: square;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

#services .service {
  flex-basis: 40%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: inherit;
  text-decoration: none;
}

#services .service h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.red #services .service:hover h4 {
  text-shadow: 0px 0px 3px rgba(223, 66, 69, 0.8);
}
.blue #services .service:hover h4 {
  text-shadow: 0px 0px 3px rgba(40, 155, 209, 0.8);
}
.yellow #services .service:hover h4 {
  text-shadow: 0px 0px 3px rgba(70, 252, 110, 0.8);
}

#services .service p {
  color: white;
}

#services .service:nth-of-type(odd) {
  text-align: left;
}
#services .service:nth-of-type(even) {
  text-align: right;
}
#services .service:nth-child(2),
#services .service:nth-child(3) {
  justify-content: flex-start;
}
#services .service:nth-child(4),
#services .service:nth-child(5) {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .steps span {
    display: none;
    font-size: 10px;
  }

  .steps span:last-of-type,
  .steps span:first-of-type,
  .steps span:nth-of-type(6) {
    display: inline;
  }

  .steps {
    justify-content: space-between;
  }
}
