/* Import variables and css reset */
@import "./variables.css";

/* font imports */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"); */
@font-face {
  font-family: BGrotesqueBlack;
  src: url("./Brandon-Grotesque-Black.otf") format("opentype");
}
@font-face {
  font-family: BGrotesqueMed;
  src: url("./Brandon-Grotesque-Medium.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
section {
  padding: 10% 20%;
  height: 100vh;
  overflow: hidden;
}
.black {
  color: black !important;
}
.black:hover {
  color: whitesmoke !important;
}
.section-heading {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 3em;
  transition: color 0.3s linear;
  font-family: BGrotesqueBlack, sans-serif;
}
[banner="landing"] .section-heading {
  line-height: 0.8em;
  color: white;
  font-family: BGrotesqueBlack, sans-serif;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 3px;
}

.white {
  color: white;
}
.red {
  color: var(--red);
}
.blue {
  color: var(--purple);
}
.yellow {
  color: var(--green);
}

html,
body {
  font-family: "Open Sans", sans-serif !important;
  position: relative;
}

section {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 2;
}

.text-left {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Wave Background */
.wave-background {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Landing styles */
#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.3s linear;
  gap: 20px;
  height: 100%;
  padding: 10% 0;
}

.red #landing {
  background-image: url("../images/banner1.png");
}
.yellow #landing {
  background-image: url("../images/banner2.png");
}
.blue #landing {
  background-image: url("../images/banner3.png");
}

#landing-header {
  width: fit-content;
  text-align: center;
}
#landing-anchor {
  line-height: 70px;
  font-size: 4.5em;
}
.landing-subtitle {
  color: white;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  word-spacing: 2px;
  line-height: 20px;
}
.border {
  padding: 2px 5px;
  border-radius: 10px;
  transition: border 0.3s linear;
}
.red .border {
  border: 2px solid var(--red);
}
.blue .border {
  border: 2px solid var(--purple);
}
.yellow .border {
  border: 2px solid var(--green);
}
.water-fill {
  overflow: hidden;
  display: inline-flex;
  height: 100%;
  width: fit-content;
  outline: none;
  position: relative;
  box-shadow: none;
  background: none;
}
#flubber {
  position: absolute;
  z-index: -1;
  bottom: -100%;
  width: 400%;
  left: -100%;
  height: 400%;
  /* object-fit: contain; */
  transition: fill 0.3s;
  animation: spin 5s cubic-bezier(0.65, -0.48, 0.54, 1.86) infinite alternate;
}
.red #flubber {
  fill: var(--red);
}
.blue #flubber {
  fill: var(--purple);
}
.yellow #flubber {
  fill: var(--green);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    left: -300%;
  }
  100% {
    transform: rotate(90deg);
    left: -200%;
  }
}

/* We are section */
#we-are {
  width: 100%;
  display: grid;
  /* gap: 20px; */
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "leftHeading space"
    "leftParagraph rightText";
  column-gap: 20px;
  text-align: left;
  position: relative;
  align-items: flex-start;
  padding: 10%;
}
#we-are .about-heading {
  height: 100%;
  grid-area: leftHeading;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#we-are .about-flare {
  grid-area: leftParagraph;
  /* font-style: italic;   */
  color: white;
  margin-left: 10%;
  margin-right: 20%;
  font-size: 1.5em;
}
#we-are > div {
  flex-basis: calc(50% - 40px);
  min-width: 250px;
  height: 100%;
}

#we-are .about-subheading {
  grid-area: leftHeading;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: inherit;
}
#we-are .section-heading {
  margin-left: 10%;
  /* font-size: 2.9em; */
  margin-bottom: 40px;
  line-height: 50px;
}
#we-are .about-content {
  /* line-height: 16px; */
  grid-area: rightText;
  /* font-size: 1.3em; */
  /* text-align: right; */
  margin-top: -30px;
}
#we-are .about-description {
  grid-area: rightText;
  color: white;
  font-size: 1em;
  line-height: 20px;
}
#we-are .bee {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  grid-area: rightText;
}
.bee .bee-level {
  background: var(--yellow);
  border-radius: 6px;
  color: white;
  width: 160px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.bee .bee-line {
  width: 100%;
  height: 2px;
  border: 1px solid var(--yellow);
  background: var(--yellow);
}

/* Services Section Styles */
/* #Layer_1 {
  position: absolute;
  height: 35vh;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.st0,
.st1,
.st2,
.st3 {
  fill: none;
  stroke-width: 42;
  stroke-miterlimit: 10;
}

.st0 {
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

.st1 {
  stroke-dasharray: 50, 90, 200, 30, 40, 0;
}

.st2 {
  stroke-linecap: square;
  stroke-dasharray: 120, 20, 110, 20, 140;
}

.st3 {
  stroke-width: 16;
  stroke-linecap: square;
} */

#services {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: center;
  background: url(../images/bg-1.png);
}
#services .services-header {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 1000;
  transition: color 0.3s linear;
}
#services .border {
  width: fit-content;
  padding: 5px 20px;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
}
.services-container {
  margin-top: 40px;
  width: 100%;
  display: grid;
  column-gap: 20px;
  /* gap: 40px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "dev svg svg rpa"
    "mvp svg svg cloud";
  justify-items: stretch;
}
#service-circle {
  width: 100%;
  grid-area: svg;
  margin: auto;
  transition: stroke 0.3s, fill 0.3s;
}
.red #service-circle {
  stroke: var(--red);
  fill: var(--red);
}
.blue #service-circle {
  stroke: var(--purple);
  fill: var(--purple);
}
.yellow #service-circle {
  stroke: var(--green);
  fill: var(--green);
}
.dev {
  grid-area: dev;
  text-align: right;
  justify-content: flex-end;
}
.rpa {
  grid-area: rpa;
  text-align: left;
  justify-content: flex-start;
}
.mvp {
  grid-area: mvp;
  text-align: right;
  justify-content: flex-end;
}
.cloud {
  grid-area: cloud;
  text-align: left;
  justify-content: flex-start;
}

#inner-circle {
  transform-origin: center;
  animation: rotateCircle 60s infinite linear;
}
#middle-circle {
  transform-origin: center;
  animation: rotateCircle 60s infinite alternate-reverse linear;
}
#outer-ring {
  transform-origin: 50% 50%;
  animation: rotateCircle 30s infinite linear;
}
#outer-ring-2 {
  transform-origin: 50% 50%;
  animation: rotateCircle 30s infinite alternate-reverse linear;
}
/* #filled-circle {
  transform-origin: center;
  animation: growCircle 3s infinite alternate-reverse linear;
} */
@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* @keyframes growCircle {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.4);
  }
} */
.service {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.service h4 {
  font-weight: 600;
  transition: color 0.2s linear, transform 0.2s linear;
  font-size: 1.2em;
}

.service:hover h4 {
  transform: scale(1.1);
  color: var(--grey);
}

.service h4 span {
  color: white;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 200;
  text-transform: capitalize;
}
/* Probono section styles */
#probono {
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-right: 40%;
  padding-left: 10%;
  row-gap: 20px;
}
.probono-action {
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  width: 100%;
  min-width: 210px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 10%;
}
.probono-action:last-of-type {
  line-height: 20px;
  text-transform: none;
  font-weight: 400;
  font-size: 1em;
}
.probono-large {
  text-transform: uppercase;
  display: block;
  font-size: 1.7em;
  transition: color 0.3s linear;
  color: white;
  font-weight: 1000;
  line-height: 36px;
  /* transition: font-size 0.2s linear, line-height 0.2s linear; */
}

.red .probono-action {
  color: var(--red);
}
.blue .probono-action {
  color: var(--purple);
}
.yellow .probono-action {
  color: var(--green);
}
.probono-action:last-of-type {
  /* margin-left: 15%; */
  color: var(--blue);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
}
.probono-action:last-of-type .probono-large {
  color: white;
  font-size: 2em;
  line-height: 40px;
  margin-top: 18px;
}
#contact {
  padding: 120px 20%;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: stretch; */
  flex-wrap: wrap;
}
#contact a {
  color: inherit;
  text-decoration: none;
  display: block;
}
#contact a,
#contact p {
  font-weight: 500;
  margin: 10px 0;
  font-size: 1.3em;
  color: white;
}
#contact h4 {
  text-transform: uppercase;
  transition: color 0.3s linear;
}
.contact-header {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 1000;
  transition: color 0.3s linear;
}
.red .contact-header {
  color: var(--red);
}
.blue .contact-header {
  color: var(--purple);
}
.yellow .contact-header {
  color: var(--green);
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 10px;
  }

  #landing {
    font-size: 14px;
  }
  #we-are {
    font-size: 12px;
  }
  #probono {
    font-size: 11px;
  }
  #contact {
    font-size: 12px;
    gap: 0;
  }
  .landing-subtitle {
    display: none;
  }
  #services {
    justify-content: center;
    font-size: 14px;
    align-items: center;
  }
  #service-circle {
    display: none;
  }
  .services-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "dev"
      "rpa"
      "cloud"
      "mvp";
    justify-items: stretch;
  }
  .service {
    justify-content: center;
  }
  .dev,
  .rpa,
  .cloud,
  .mvp {
    text-align: center;
  }
}

#team {
  /* background: url(../images/bg-2.png); */
  background-color: #0f1922;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  /* padding: 10%; */
}

#hire {
  /* background: url(../images/bg-2.png); */
  background-color: #0f1922;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.hire-subheading {
  color: white;
  font-weight: 500;
}
.hire-buttons-container {
  width: 100%;
}
.hire-button {
  background: none;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s linear, border 0.3s linear;
  cursor: pointer;
}
.red .hire-button {
  border: 2px solid var(--red);
}
.red .hire-button:hover {
  background-color: var(--red);
}
.blue .hire-button {
  border: 2px solid var(--purple);
}
.blue .hire-button:hover {
  background-color: var(--purple);
}
.yellow .hire-button {
  border: 2px solid var(--green);
}
.yellow .hire-button:hover {
  background-color: var(--green);
}
@media screen and (max-width: 916px) {
  #we-are > div {
    height: fit-content;
  }
}
@media screen and (max-width: 630px) {
  #landing-anchor {
    font-size: 2.5em;
    line-height: 40px;
  }
  #we-are {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "leftHeading"
      "leftParagraph"
      "rightText";
    column-gap: 20px;
  }
  [banner="landing"] .team-banner-image {
    display: none;
  }
  .hire-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #hire {
    justify-content: center;
    gap: 40px;
  }
  #probono {
    justify-content: center;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    /*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
    .probono-large {
      font-weight: bolder;
    }
  }
}
